---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - trickstercache.org
  resources:
  - tricksters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - trickstercache.org
  resources:
  - tricksters/finalizers
  verbs:
  - update
- apiGroups:
  - trickstercache.org
  resources:
  - tricksters/status
  verbs:
  - get
  - patch
  - update
